name: Integración a -> Producción
on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Usando node.js v15.x
        uses: actions/setup-node@v1
        with:
          node-version: 15.x
      - name: Actualización de versión
        uses: phips28/gh-action-bump-version@master
      - name: Instalación de dependencias
        uses: bahmutov/npm-install@v1
        with:
          useRollingCache: true
      - run: npm run build
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_GAMER_QUEST_CO }}'
          channelId: live
          projectId: gamer-quest-co
        env:
          FIREBASE_CLI_PREVIEWS: hostingchannels
